.component-accordion {
  .accordion-item.border-b-4 {
    border-bottom-width: 4px !important;
  }

  .accordion-item {
    ul, ol {
      padding-left: 1rem;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    &:hover {
      h2, h3, h4, h5, h6 {
        text-decoration: underline;
      }
    }
  }
}
